@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$Primary-Red: hsl(0, 78%, 62%);
$Primary-Cyan: hsl(180, 62%, 55%);
$Primary-Orange: hsl(34, 97%, 64%);
$Primary-Blue: hsl(212, 86%, 64%);

$Very-Dark-Blue: hsl(234, 12%, 34%);
$Grayish-Blue: hsl(229, 6%, 66%);
$Very-Light-Gray: hsl(0, 0%, 98%);

html {
    font-family: 'Poppins', sans-serif;
    font-size: 15px
}

.wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    width: 90%;
    margin: 50px auto 50px;
    text-align: center;
    &__welcom-txt {
        color: $Grayish-Blue;
        font-size: 20px;
        font-weight: 200;
    }
    &__head-line {
        color: $Very-Dark-Blue;
        font-size: 20px;
        margin-bottom: 15px;
    }
    &__text {
        font-size: 14px;
        color: $Grayish-Blue;
    }
}

.main {

    @media (min-width: 500px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
       }
    @media (min-width: 700px) {
     width: 80%;
     margin-left: auto;
     margin-right: auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
    }
   
}

.article {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto 30px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 26px -9px rgba(0,0,0,0.75);
   
    
    &--supervisor {
        border-top: 8px solid $Primary-Blue;
        @media (min-width: 700px) {
            grid-column: 1/2;
            transform: translateY(50%);
        }
    }
    &--team-builder {
        border-top: 8px solid $Primary-Red;
        @media (min-width: 700px) {
            grid-column: 2/3;
        }
    }
    &--karma {
        border-top: 8px solid $Primary-Orange;
        @media (min-width: 700px) {
            grid-column: 3/4;
            transform: translateY(50%);
        }
    }
    &--calculator {
        border-top: 8px solid $Primary-Cyan;
        @media (min-width: 700px) {
            grid-column: 2/3;
        }
    }
    &__title {
        font-size: 20px;
        color: $Very-Dark-Blue;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 14px;
        color: $Grayish-Blue;
        line-height: 1.7;
        margin-bottom: 30px;
    }
    &__img {
        width: 20%;
        align-self: flex-end;
    }
}